<div class="card-group">
    <div class="card w-50">
       <div class="card-body">
           <app-grafica-compuesta 
                [intAreaColor]="revenue.areaColor"
                [intLineaColor]="revenue.lineaColor"
                [intTitulo]="revenue.titulo"
                [tabIzq]="revenue.tabIzq"
                [tabDerecho]="revenue.tabDerecho"
                [dataLineChart]="revenue.dataLinearChart">
           </app-grafica-compuesta>
       </div>
    </div>

    <div class="card w-50">
       <div class="card-body">
          <app-grafica-compuesta 
          [intAreaColor]="impresions.areaColor"
          [intLineaColor]="impresions.lineaColor"
          [intTitulo]="impresions.titulo"
          [tabIzq]="impresions.tabIzq"
          [tabDerecho]="impresions.tabDerecho"
          [dataLineChart]="impresions.dataLinearChart">
     </app-grafica-compuesta>
 </div>
    </div>
    <div class="card w-50">
           <div class="card-body">
              <app-grafica-compuesta 
              [intAreaColor]="visits.areaColor"
              [intLineaColor]="visits.lineaColor"
              [intTitulo]="visits.titulo"
              [tabIzq]="visits.tabIzq"
              [tabDerecho]="visits.tabDerecho"
              [dataLineChart]="visits.dataLinearChart">
         </app-grafica-compuesta>
         </div>
   </div>
       
</div>
