

  <div class="row">
    <div class="col-md-12 text-center">
        
        <svg width="260" height="260" #svgChart ></svg>
    </div>

  </div>
  <div class="row mt-4">
      <div class="col-md-6 text-left">
          <h4 class="concept" [ngStyle]="{'color': tabIzq.colorHexa}"> {{tabIzq.titulo}}</h4>
          <span class="ml-1 porcentaje">{{tabIzq.pct}}%</span> <span class="ml-3 cifra">{{tabIzq.total | number}} {{tabIzq.moneda}}</span>
          
      </div>  

      <div class="col-md-6 text-right">
          <h4 class="concept" [ngStyle]="{'color': tabDerecho.colorHexa}"> {{tabDerecho.titulo}}</h4>
          <span class="ml-1 porcentaje">{{tabDerecho.pct}}%</span> <span class="ml-3 cifra">{{tabDerecho.total | number}} {{tabDerecho.moneda}}</span>
      </div>    

  </div>

