/* You can add global styles to this file, and also import other style files */
.concept{
    font-size: 24px;
    font-family: 'arial';
}

.porcentaje{
    font-size: 21px;
    font-family: 'arial';
}

.cifra{
    font-size: 21px;
    font-family: 'arial';
    color: gray;
    
}